<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Your Suggestion</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/CSS/View/submitSuggestion.css">
</head>
<body>
{% ifnotequal user.commonUserID 5%}
    <p>userID:{{ user.commonUserID }}</p>
    <p>userName:{{ user.commonUserName }}</p>
    <p>userImage:<img src="/media/{{ user.commonUserImage }}"/></p>
    {% if isAdmin %}
        <p>
            <a href="{% url 'USFP:adminInfor' %}">View profile</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'USFP:userInfor' %}">View profile</a>
        </p>
    {% endif %}
        <p><a href="{% url 'welcome' 1 %}">Logout</a></p>
{% else %}
    <br><a href="{% url 'USFP:login' 0 %}">Login</a>
    <a href="/USFP/register/">Register</a>
{% endifnotequal %}
<h5>Write your suggestion here!</h5>
<form action="{% url 'USFP:submitSuggestion' %}" method="post">
    {% csrf_token %}
    <textarea rows="10" cols="30" name="suggestionContent" required>
    </textarea>
    <input type="submit" value="Submit your Suggestion"/>
    <a href="/welcome/">Back to the Welcome Page</a>
</form>
</body>
</html>