{% extends "base.html" %}

<title>Successfully Submit</title>
<base href="/">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Result</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {% if state %}
            <div class="mdl-card__supporting-text">
                <h4>You have Successfully submit the suggestion!!</h5>
                    <h5>You can remember your suggestion ID to search it later:{{ suggestionID }}</h5>
            </div>
            {% else %}
            <div>
                <h4>Fail to submit the suggestion!!</h4>
                <h5>Please contact the admin to see why!</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}