<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/CSS/View/submitSuggestionResult.css">
</head>
<body>
{% ifnotequal user.commonUserID 5%}
    <p>userID:{{ user.commonUserID }}</p>
    <p>userName:{{ user.commonUserName }}</p>
    <p>userImage:<img src="/media/{{ user.commonUserImage }}"/></p>
    {% if isAdmin %}
        <p>
            <a href="{% url 'USFP:adminInfor' %}">View profile</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'USFP:userInfor' %}">View profile</a>
        </p>
    {% endif %}
        <p><a href="{% url 'welcome' 1 %}">Logout</a></p>
{% else %}
    <br><a href="{% url 'USFP:login' 0 %}">Login</a>
    <a href="/USFP/register/">Register</a>
{% endifnotequal %}
{% if state %}
<h2>You have Successfully submit the suggestion!!</h2>
<br>
<h5>You can remember your suggestion ID to search it later:{{ suggestionID }}</h5>
{% else %}
<h2>Fail to submit the suggestion!!</h2>
<br>
<h5>Please contact the admin to see why!</h5>
{% endif %}
<a href="/welcome/">Back to the Welcome Page</a>
</body>
</html>