<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Successfully</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/CSS/View/suRegister.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<h1>SuccessfulLy register in!!!</h1>
<br>
<p>

<h2>Welcome!</h2>
<h2 style="color: #ea2020">Please remember your user id:{{ commonUserID }}</h2>

</p>
<a href="/welcome/">Back to the welcome page</a>
</body>
</html>