<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Your Suggestion</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/static/CSS/CommonUser/userChangeSuggestion.css">
</head>
<body>
{% ifnotequal user.commonUserID 5%}
    <p>userID:{{ user.commonUserID }}</p>
    <p>userName:{{ user.commonUserName }}</p>
    <p>userImage:<img src="/media/{{ user.commonUserImage }}"/></p>
    {% if isAdmin %}
        <p>
            <a href="{% url 'USFP:adminInfor' %}">View profile</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'USFP:userInfor' %}">View profile</a>
        </p>
    {% endif %}
        <p><a href="{% url 'welcome' 1 %}">Logout</a></p>
{% else %}
    <br><a href="{% url 'USFP:login' 0 %}">Login</a>
    <a href="/USFP/register/">Register</a>
{% endifnotequal %}
<form action="{% url 'USFP:userChangeSuggestion' suggestionID%}" method="post">
    {% csrf_token %}
    Type your new suggestion here:
    <br>
    <textarea rows="10" cols="30" name="newSuggestionContent" required></textarea>
    <br>
    <input type="submit" value="Click to submit">
</form>
<a href="{%  url 'USFP:userViewOneSuggestion' suggestionID 1%}">View the Suggestion</a>
<a href="/welcome/">Back to the Welcome Page</a>
</body>
</html>