{% extends "base.html" %}
<title>View One Suggestion</title>
<base href="/">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">


{% block content %}

<div class="demo-container mdl-grid">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="width: max-content; margin: auto;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <h3>The suggestion:</h3>


            {% if suggestion.visible %}
                {{ suggestion.commonUser.commonUserName }}:
                <br>
                {{ suggestion.content }}
                <br>
                Post time:{{ suggestion.postTime }}
                <br>
                Suggestion ID:{{ suggestion.suggestionID }}
                <br>
                {% for i in suggestion_tags%}
                    <a href="{% url 'USFP:viewTag' i.tagID 1 %}">{{ i.tagName }}</a>
                {% endfor %}
                <br>

                {% ifnotequal user.commonUserID 5 %}
                    {% if isAuthor %}
                    <a href="{% url 'USFP:userChangeSuggestion' suggestion.suggestionID%}">Click to change</a>
                    {% endif %}
                {% endifnotequal %}

                <br>
                <br>

                {% for i in replySuggestionPrepageData %}
                    {{ i.selfSuggestion.commonUser.commonUserName }}:
                    <br>
                    {{ i.selfSuggestion.content }}
                    <br>
                    Post time:{{ i.selfSuggestion.postTime }}
                    <br>
                    Suggestion ID:{{ i.selfSuggestion.suggestionID }}
                    <br>
                    <a href="{% url 'USFP:userViewOneSuggestion' i.selfSuggestion.suggestionID 1 %}">Click to view</a>
                    <br>
                    <br>
                {% endfor %}

                {% if replySuggestionPrepageData.has_previous %}
                    <a
                        href="{% url 'USFP:userViewOneSuggestion' suggestion.suggestionID IsuggestionPrepageData.previous_page_number  %}">Last
                        Page</a>
                {% endif %}

                {% for n in replySuggestionPageList %}
                    <a href="{% url 'USFP:userViewOneSuggestion' suggestion.suggestionID n  %}">{{ n }}</a> &emsp;
                {% endfor %}
                
                {% if replySuggestionPrepageData.has_next %}
                    <a
                        href="{% url 'USFP:userViewOneSuggestion' suggestion.suggestionID suggestionPrepageData.next_page_number  %}">Next
                        Page</a>
                {% endif %} 

                <br>


                {% ifnotequal user.commonUserID 5 %}
                You can comment the suggestion here:
                <br>
                <form action="{% url 'USFP:userSubmitComment' suggestion.suggestionID %}" method="post">
                    {% csrf_token %}
                    <textarea rows="10" cols="30" name="replySuggestionContent"></textarea>
                    <input type="submit" value="Submit">
                </form>
                {% else %}
                <h4>You can login to comment!</h4>
                {% endifnotequal %}

                {% else %}
                {% ifnotequal user.commonUserID 5%}
                {% if isAuthor%}
                <h3>It is being checked by the admin! Please wait patiently!</h3>
                <a href="{% url 'USFP:userChangeSuggestion' suggestion.suggestionID %}">Click here to change your
                    content</a>
                {% else %}
                <h3>The suggestion is not available!</h3>
                {% endif %}
                {% else %}
                <h3>The suggestion is not available!</h3>
                {% endifnotequal %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}



{% block script %}

{% endblock %}